.article {
  @include section;
  background: $Very-Light-Gray;
  &__container {
    @include flex(column, center);
    @include desktop {
      align-items: flex-start;
    }
  }
  &__wrapper {
    @include desktop {
      @include flex(row, center);
      align-items: flex-start;
      gap: 1.5rem;
    }
  }
  &__img {
    object-fit: fill;
    border-radius: 10px;
    max-height: 250px;
    aspect-ratio: 4/3;
    @include fullWidth;
    @include desktop {
      // aspect-ratio: 1/1;
    }
  }
  &__heading {
    @include textHeading;
    margin-bottom: 1rem;
  }
  &__card {
    padding-bottom: 4rem;
    & .article__container {
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0 2rem;
        @include mt;
    }
  }
  &__text {
    @include text;
    &--smaller {
      font-size: 0.7rem;
    }
  }
  &__sub-heading {
    @include subHeading;
  }
}
