.footer {
  @include section;
  gap: 2rem;
  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
  }
  background: $Dark-Blue;
  &__logo {
    cursor: pointer;
    & path[fill="#2D314D"] {
      fill: $White;
    }
    &-link {
      @include noBackground;
      &:is(:hover, :focus-visible) {
        .footer__logo path[fill="#2D314D"] {
          fill: $Lime-Green;
        }
      }
    }
  }
  &__list {
    @include flex(row, center);
    &--column {
      @include flex(column, center);
      gap: 1rem 2rem;
      @include desktop {
        flex-wrap: wrap;
        max-height: 110px;
        margin-top: 0;
      }
    }
  }
  &__link {
    color: white;
    @include transition;
    @include noBackground;
    &:is(:hover, :focus-visible) {
      color: $Lime-Green;
      filter: invert(34%) sepia(91%) saturate(677%) hue-rotate(92deg)
        brightness(97%) contrast(95%);
    }
    & img {
      @include transition;
      width: 1.5rem;
      &:is(:hover, :focus-visible) {
        filter: invert(34%) sepia(91%) saturate(677%) hue-rotate(92deg)
          brightness(97%) contrast(95%);
      }
    }
  }
  &__container {
    @include flex(column, center);
    &--mlauto {
      @include desktop {
        margin-left: auto;
      }
    }
  }
  &__btn {
    @include btn;
    @include mt(0);
  }
  &__text {
    @include text;
  }
}
