.hero {
  @include section;
  padding-top: 0;
  background-color: $Very-Light-Gray;
  @include desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 0;
  }
  &__img {
    @include fullWidth;
    height: auto;
    margin-top: -7rem;
    z-index: 1;
    @include desktop {
      translate: 4rem -4rem;
    }
    &-bg {
      position: absolute;
      z-index: 0;
      left: -2rem;
      top: 0;
      max-height: 110%;
      width: calc(100% + 10rem);
      @include desktop {
        top: -8rem;
      }
    }
  }

  &__container {
    @include flex(column, center);
    &--relative {
      position: relative;
    }
    @include desktop {
      align-items: flex-start;
    }
  }
  &__heading {
    @include textHeading(center);
    font-size: 2.5rem;
  }
  &__text {
    @include text(center);
  }
  &__btn {
    @include btn;
  }
}
