.hero {
  @include section;
  padding-top: 0;
  background-color: $Very-Light-Gray;
  @include desktop {
    flex-direction: row-reverse;
  }
  &__img {
    @include fullWidth;
    height: auto;
    margin-top: -7rem;
    z-index: 1;

    &--absolute {
      position: absolute;
      z-index: 0;
      width: calc(100% + 4rem);
    }

    &--mt0 {
      margin-top: 0;
    }
  }

  &__container {
    @include flex(column, center);
    &--relative {
      position: relative;
    }
    @include desktop {
      align-items: flex-start
    }
  }
  &__heading {
    @include textHeading(center);
    font-size: 2.5rem;
  }
  &__text {
    @include text(center);
  }
  &__btn {
    @include btn;
  }
}
