@mixin flex($direction, $orientation) {
  display: flex;
  justify-content: $orientation;
  align-items: center;
  flex-direction: $direction;
  gap: 1rem;
}

@mixin fullWidth {
  width: 100%;
}

@mixin noBackground {
  border: none;
  outline: none;
  background: none;
}

@mixin textHeading($alignment: left) {
  font-size: 2rem;
  text-align: $alignment;
  color: $Dark-Blue;
  font-weight: 400;
}

@mixin subHeading($alignment: left) {
  @include textHeading($alignment);
  font-size: 1.2rem;
}

@mixin text($alignment: left) {
  font-size: 0.9rem;
  text-align: $alignment;
  line-height: 1.5rem;
  color: $Grayish-Blue;
  font-weight: 300;
}

@mixin btn {
  @include noBackground;
  @include mt(2);
  padding: 1rem 4rem;
  border-radius: 25px;
  background-image: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  color: $White;
  @include transition;
  &:is(:hover, :focus-visible) {
    opacity: 0.7;
    text-decoration: underline;
  }
}

@mixin section {
  @include flex(column, center);
  padding: 4rem 2rem;
}

@mixin mt($num: 1) {
  margin-top: $num * 1rem;
}

@mixin menu-icon {
  @include transition;
  padding: 0.5rem;
  border-radius: 5px;
  &:is(:hover, :focus-visible) {
    background: #f0f0f0;
    opacity: 0.7;
  }
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}
