@import "./_variables";
@import "./_mix-ins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", serif;
}

.header {
  position: fixed;
  background: green;
  height: 4rem;
  @include fullWidth;
  @include flex(row, space-between);
  padding: 0 2rem;
  .header__logo,
  .header__menu {
    &:hover {
      cursor: pointer;
    }
  }
}

.hero {
  @include flex(column, center);
  &__img {
    @include fullWidth;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    @include flex(column, center);
  }
}
