@import "./_variables";
@import "./_mix-ins";
@import "./hero";
@import "./cta";
@import "./article";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Public Sans", serif;
  min-width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: $White;
  height: 4rem;
  @include fullWidth;
  @include flex(row, space-between);
  padding: 0 2rem;

  &__btn {
    @include noBackground;
  }

  &__logo,
  &__menu {
    cursor: pointer;
  }
}