@import "./_variables";
@import "./_mix-ins";
@import "./hero";
@import "./cta";
@import "./article";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Public Sans", serif;
  min-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: $White;
  height: 4rem;
  @include fullWidth;
  @include flex(row, space-between);
  padding: 0 2rem;
  @include desktop {
    padding: 0 4rem;
  }

  &__btn {
    @include noBackground;
    @include menu-icon;
    @include desktop{
      @include btn;
      margin-top: 0;
      text-wrap: nowrap;
    }
    &-text {
      display: none;
      @include desktop{
        display: block;
      }
    }
  }
  &__menu {
    cursor: pointer;
    @include desktop{
      display: none;
    }
  }
  &__logo-link {
    @include noBackground;
  }
}

.mobile-nav {
  position: absolute;
  z-index: 10;
  top: 5rem;
  width: calc(100% - 4rem);
  box-shadow: 0 0 50px $Dark-Blue;
  @include transition;
  @include desktop {
    position: static;
    opacity: 100;
    box-shadow: none;
  }
  opacity: 0;
  &__list {
    background: $White;
    @include section;
    gap: 2rem;
    @include desktop {
      flex-direction: row;
      padding: 0 0;
      gap: 0.75rem;
    }
  }
  &__link {
    color: $Dark-Blue;
    position: relative;
    @include subHeading;
    @include noBackground;
    @include desktop {
      @include text
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px; /* Position the line at the bottom */
      width: 100%;
      @include transition;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: center;
      height: 4px;
      background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
      border-radius: 2px;
    }
    &:is(:hover, :focus-visible) {
      &::after {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }
}
